:root {
    --brand-dark-mode-color: #d6d9db;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}